<h1>About Blocipedia</h1>
<p>Blocipedia is a SaaS application that allows users to post public wikis for free. Users can also upgrade to a Premium membership for $15 which will allow them to create private wikis that they can also add other users to as collaborators. Collaborators can then edit those private wikis.</p>
